In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[2, True, 3.5, 'hello'], [4, False, 5.12, 'again']])

print(df, '\n')
print(df.dtypes)

   0      1     2      3
0  2   True  3.50  hello
1  4  False  5.12  again

0      int64
1       bool
2    float64
3     object
dtype: object

### rolling

In [6]:
df = pd.DataFrame(
    data= np.array([1,2,3,4,5,6,7,8,9,10,11,12]),
    index= pd.date_range('20230410', periods=12),
    columns=['value']
)

In [7]:
df

            value
2023-04-10      1
2023-04-11      2
2023-04-12      3
2023-04-13      4
2023-04-14      5
2023-04-15      6
2023-04-16      7
2023-04-17      8
2023-04-18      9
2023-04-19     10
2023-04-20     11
2023-04-21     12

In [8]:
df['shifted_value'] = df['value'].shift(1)
df

            value  shifted_value
2023-04-10      1            NaN
2023-04-11      2            1.0
2023-04-12      3            2.0
2023-04-13      4            3.0
2023-04-14      5            4.0
2023-04-15      6            5.0
2023-04-16      7            6.0
2023-04-17      8            7.0
2023-04-18      9            8.0
2023-04-19     10            9.0
2023-04-20     11           10.0
2023-04-21     12           11.0

In [9]:
df['avg'] = df[['value', 'shifted_value']].mean(axis=1)

In [12]:
df['avg_rolling'] = df['value'].rolling(2).mean()
df

            value  shifted_value   avg  avg_rolling
2023-04-10      1            NaN   1.0          NaN
2023-04-11      2            1.0   1.5          1.5
2023-04-12      3            2.0   2.5          2.5
2023-04-13      4            3.0   3.5          3.5
2023-04-14      5            4.0   4.5          4.5
2023-04-15      6            5.0   5.5          5.5
2023-04-16      7            6.0   6.5          6.5
2023-04-17      8            7.0   7.5          7.5
2023-04-18      9            8.0   8.5          8.5
2023-04-19     10            9.0   9.5          9.5
2023-04-20     11           10.0  10.5         10.5
2023-04-21     12           11.0  11.5         11.5

In [14]:
df

            value  shifted_value   avg
2023-04-10      1            NaN   1.0
2023-04-11      2            1.0   1.5
2023-04-12      3            2.0   2.5
2023-04-13      4            3.0   3.5
2023-04-14      5            4.0   4.5
2023-04-15      6            5.0   5.5
2023-04-16      7            6.0   6.5
2023-04-17      8            7.0   7.5
2023-04-18      9            8.0   8.5
2023-04-19     10            9.0   9.5
2023-04-20     11           10.0  10.5
2023-04-21     12           11.0  11.5